body {
    color: black ;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('smiley-woman-holding-laptop-office-working.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: -50%;
    overscroll-behavior: none; 
    background-clip: padding-box;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.center {
    text-align: center;
}

h1 {
    color: ghostwhite;
    font-size: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0)
}

.container {
    padding: 0px 50px;
    
}
nav a {
    font-size: 20px;
}

nav a:hover {
    color: gold;
}

.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    background-color: auto;
    border: none;
    cursor: pointer;
    padding: 7px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
li{
    align-items: center;
}
.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 20px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-right: 1230px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}
.nav-list li a:hover {
    color: #ffd700;
}
.rightNav {
    text-align: right;
}
#search {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}
.container {
    max-width: fill;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: inset 10px 10px grey;
}
footer{
    color: white;
}
.sobre{
    max-width: fill;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform:translateY(1%);
    box-sizing: border-box;
    box-shadow: inset 10px 10px grey;

}
nav{
    display: flex;
    position: sticky;
    align-items:center;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 20px;
}
/*css agrad*/



